@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------- Start of coded contribution supplied by Seth Khan ------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1;
    transition: 1s;
}

header.scroll {
   position: fixed;
   top: -4rem;
   left: 0;
   width: 100%;
   height: -4rem;
   background-color: white;
   z-index: 1;
   transition: 1s;    
}

.logo {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: coral;
}

nav {
    position: absolute;
    left: 20%;
    bottom: 1rem;
    width: 70%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: none;
    font-size: 1rem;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.5s;
}

nav ul li a:hover::after {
   width: 100%;
   transition: width 0.5s;
}


/* --------------- End of coded contribution supplied by Seth Khan--------------*/

/* Start of coded contribution supplied by Rey H. Flores ---------------------------------------*/

/* Will control how the container that will house all of the images/videos/buttons/sub-containers will be displayed */
.mainCont{
    width: 100%;
    height: calc(100vh - 4rem);
    position: relative;
    overflow: hidden;
    margin-top: 4rem;
}

.mainContent{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.contentCont{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}
.contentItem{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.currentContent{
    display: block !important;
}

@keyframes slideOutLeft{
    from{
        left: 0;
    }to{
        left: -100%;
    }
}
@keyframes slideInLeft {
    from{
        left: 100%;
    }to{
        left: 0;
    }
}
@keyframes slideOutRight {
    from{
        right: 0;
    }to{
        right: -100%;
    }
}
@keyframes slideInRight {
    from{
        right: 100%;
    }to{
        right: 0;
    }
}
/*Will control how the information containers of each image/video will be displayed*/
.contentInfo{
    position: absolute;
    width: 600px;
    height: auto;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0,0.6);

    transition: width 1s ease;
}
.contentInfo::-webkit-scrollbar{
    display: none;
}

.hideContInfo{
    width: 0 !important;
}

.infoCtrl{
    width: 35px;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    background-color: rgba(0, 0, 0,1);
}
.infoCtrl img{
    width: 55%;
    height: auto;
    filter: invert();
}
.infoBtn{
    display: none;
}

.infoCont{
    width: 100%;
    height: auto;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
.infoCont::-webkit-scrollbar{
    display: none;
}
.infoCont h1{
    color: white;
    width: 95%;
    margin: 2px 0 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 3px solid white;
    text-overflow: ellipsis;
    line-height: 40px;
}
.infoCont h2{
    color: wheat;
    font-size: 20px;
    margin: 0 0 15px 10px;
    width: 565px;
}
/*Will control how the container that will house all of the buttons/sliders for the images/videos will be displayed*/
.contentOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.bannerBtn{
    width: 40px;
    height: 90px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0,0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerBtn:hover{
    background-color: rgba(0, 0, 0,0.5);
}
.bannerBtn img{
    width: 80%;
    height: auto;
    filter: invert();
}

.leftBtn{
    float: left;
}
.leftBtn img{
    transform: rotate(180deg);
}
.rightBtn{
    float: right;
}

.carouselCtrl{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.3);
    user-select: none;
}
.carouselCtrl:hover{
    background-color: rgba(0, 0, 0,0.5);
}
.carouselCtrl h1{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: white;
    cursor: pointer;
    display: block;
}
.carouselCtrl img{
    width: 80%;
    height: auto;
    filter: invert();
    cursor: pointer;
    display: none;
}

.videoCtrl{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 90px;
    border-radius: 50px 50px 50px 50px;
    background-color: rgba(0,0,0, 0.3);
    transition: width 0.6s ease;
    overflow: hidden;
    /* display: flex; */
    display: none;
    flex-direction: row;
}

.expandVideoCtrl{
    width: 840px;
}

.visibilityCtrl{
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visibilityCtrl img{
    cursor: pointer;
}

#visibilityOpen{
    width: 68%;
    height: auto;
    filter: invert();
    display: block;
}
#visibilityClose{
    width: 50%;
    height: auto;
    filter: invert();
    display: none;
}
/*Will control how the container that will house all of the buttons/sliders/text for the videos will be displayed*/
.videoCtrlOptions{
    width: 800px;
    height: 40px;
    position: absolute;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoSliderCont{
    height: 100%;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoSlider{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.videoSlider:hover{
    opacity: 1;
}
.videoSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
.videoSlider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dcfa14;
    cursor: pointer;
}

#videoTime{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin: 0 15px;
    line-height: 25px;
    justify-content: center;
    color: white;
}

.audioCtrl{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audioCtrl img{
    width: 80%;
    height: auto;
    filter: invert();
    cursor: pointer;
}
#muteBtn{
    width: 55%;
    height: auto;
    display: block;
}
#unmuteBtn{
    display: none;
    width: 70%;
    height: auto;
}

.videoPlayCtrl{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.videoPlayCtrl img{
    filter: invert();
    width: 55%;
    height: auto;
    cursor: pointer;
}
#playBtn{
    display: none;
}

/* End of coded contribution supplied by Rey H. Flores -------------------------------*/

/* ----------- Start of coded contribution supplied by Justin ---------------*/
/* styling of timer container */
.timerCont {
    /* border: 2px solid red; */
    position: absolute;  
    font-family: 'Viga', sans-serif;
    color: white;
    font-size: 50pt;
    bottom: 0%;
    left: 60%;
    white-space: nowrap;
    background:rgba(0, 0, 0,0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out;
}
.timerCont:hover {
    background: rgba(0, 0, 0,0.5);
}
.timerContExpanded {
    position: absolute;
    font-family: 'Viga', sans-serif;
    color: white;
    font-size: 100pt;
    width:100vw;
    height: 100vh;
    padding:25rem 0px 0px 0px;
    text-align: center;
    white-space: nowrap;
    background:rgba(0, 0, 0,0.3);
    border-radius: 10px;
    cursor: pointer;
}
.futbol {
    width: 35px;
    height: 35px;
    background: conic-gradient(
        #1077C3,
        #49BCE3,
        #FEC310,
        #56042C 
    );
    border-radius: 50%;
}
/* ------------ End of coded contribution supplied by Justin ----------------- */